@using viewmodel
@model ProductoViewModel

@{
    ViewData["Title"] = "Crear producto";
}

<h1>Crear nuevo producto</h1>

<form asp-action="Create" method="post">


    <article class="form-group">
        <label asp-for="Descripcion" class="control-label"></label>
        <input asp-for="Descripcion" class="form-control"/>
        <span asp-validation-for="Descripcion" class="text-danger"></span>
    </article>

    <article class="form-group">
        <label asp-for="Precio" class="control-label"></label>
        <input asp-for="Precio" class="form-control"/>
        <span asp-validation-for="Precio" class="text-danger"></span>
    </article>

    <article class="form-group mt-3">
        <button class="btn btn-submit btn-info" type="submit">Crear</button>
    </article>
    
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial"/>
}