@using models;
@model Producto;

@if (Model==null){
    <h1 class="p-2 bg-danger text-center text-light">Error: Producto no encontrado...</h1>    
    return;
}
<h1> Eliminar Producto </h1>
<p>¿Eliminar producto "@(Model.Descripcion)"?</p>
<section class="w-100 p-3 d-flex flex-evenly">
    <form class="w-25 m-2" asp-controller="Productos" asp-action="Index" method="get">
        <button type="submit" class="btn btn-success w-100">No</button>
    </form>

    <form class="w-25 m-2" asp-controller="Productos" asp-action="Delete" asp-route-id="IdProducto" method="post">
        <button type="submit" class="btn btn-danger w-100">Si, Eliminar</button>
    </form>
</section>
