@using models;
@model Presupuesto;

@if (Model == null){
    <h1 class="p-2 bg-danger text-center text-light">Error: Presupuesto no encontrado...</h1>    
    return;
}

<h1>Modificar Presupuesto N° @(Model.IdPresupuesto)</h1>

<form asp-controller="Presupuestos" asp-action="Edit" method="post">
    <input type="hidden" asp-for="IdPresupuesto" />
    <input type="hidden" asp-for="FechaCreacion" />

    <article class="p-2 w-50">
        <label for="NombreDestinatario">Nombre del destinatario</label>
        <input class="w-100" asp-for="NombreDestinatario" type="text"/>
    </article>

    <article class="w-100 d-flex">
        <button type="submit" class="m-2 btn btn-submit btn-success">Modificar</button>
        <a class="m-2 btn btn-danger" asp-controller="Presupuestos" asp-action="Delete" asp-route-id="@Model.IdPresupuesto">Eliminar</a>
    </article>
</form>
